
@font-face {
    font-family: "Inter";
    src: url('{{ "Inter-VariableFont_slnt,wght.woff2" | asset_url }}') format('woff2');
}

@font-face {
    font-family: "Kaushan Script";
    src: url('{{ "KaushanScript-Regular.woff2" | asset_url }}') format('woff2');
}


.modal-container{
    display: block;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4)
}
.modal-content{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 15px;
    border: 2px solid #0442bf;
    max-width: 650px;
    min-width: 450px;
}

.modal-content-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.modal-close-button{
    color: #a40404;
    float: right;
    margin-right: 10px;
    font-size: 1em;
    font-weight: bold;

}

.h2{
    font-family: 'Kaushan Script' !important;;
    font-size: 1.5em !important;;
    font-weight: 700 !important;;
    color: #0442bf !important;;
}

.iwt-paragraph{
    font-family: 'Inter' !important;
    font-size: 1em !important;
    font-weight: 400 !important;
    color: #3e3e3e !important;
    line-height: 1.5em !important;
}

.inputTXT{
    border-left: 6px solid #0442bf !important;
    border-right: 1px solid #0442bf !important;
    border-top: 1px solid #0442bf !important;
    border-bottom: 1px solid #0442bf !important;
    border-radius: 7px !important;
    width: 80% !important;
    padding: .5em 1em !important;
    line-height: 1.25em !important;
    font-size: 16px;
}

.inputTXT:focus{
    background-color: #f2f2f2 !important;
    color:#0442bf;
    font-size: 16px;
    max-width: 400px;
}

.iwt-input-number{
    border-left: 3px solid #0442bf !important;
    border-top: solid 1px #f2f2f2 !important;
    border-bottom: solid 1px #f2f2f2 !important;
    border-right: solid 1px #f2f2f2 !important;
    border-radius: 7px;
    min-width: 25px !important;
    max-width:5%;
    padding: 12px 15px !important;
    background-color: #f8f8f8;
}

.iwt-input-number:focus{
    background-color: #0442bf;
    color: #0442bf;
}


.input[type=submit]{
    background-color: #0442bf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 75%;
}

.label{
    font-size: 14px;
    font-weight: 400;
    color: #3e3e33;
    font-family: 'Inter-regular', sans-serif;

}

.placeholder{
    font-size: 12px;
    font-family: "Inter";
    font-weight: 400;
    color: #656565;
    letter-spacing: 1px;
    font-family: 'Inter-regular', sans-serif;
}

#modal-content-container .cart-table {
    width: 100%;
    background-color:#fff;
    border: .5px solid #0442bf;
    table-layout: auto;
}

.cart-table, .cart-table .th, .cart-table .td {
    border-bottom: .5px solid #0442bf;
    border-collapse: collapse;
    width: 100%;
    max-width: 650px;
    min-width: 425px;
    table-layout: auto;
    padding: 4px;
}

.cart-table .th{
    color: #3e3e3e;
    font-family: 'Inter', sans-serif;
    font-size: .5em;
    font-weight: 400;
    text-align: left !important;
    line-height: .5em;
   
}

.table-header{
    background-color: #0442bf;
    border-bottom: .5px solid white;
}   

.cart-table .tr{
    padding: 2px 3px 2px 3px;
    vertical-align: top;
    text-wrap:pretty;
    line-height: .5em;
}

.cart-table tr:nth-child(odd){
    background-color: #f2f2f2;

}
cart-table th,
.cart-table td {
    color: #3e3e3e;
    font-family: 'Inter', sans-serif; /* Ensure fallback to sans-serif */
    font-size: 0.8em; /* Adjust the font size as needed */
    font-weight: 300;
    border: 0.5px solid #f2f2f2; /* Fixed border style */
    line-height: 1.25em;
    padding: 2px;
    vertical-align: top;
    text-wrap: wrap; /* This should be word-wrap for text wrapping */
}

/* Align the last three columns to the right */
.cart-table th:nth-child(3),
.cart-table th:nth-child(4),
.cart-table th:nth-child(5),
.cart-table td:nth-child(3),
.cart-table td:nth-child(4),
.cart-table td:nth-child(5) {
    text-align: right;
}

.cart-table th:nth-child(1),
.cart-table th:nth-child(2){
    text-align: left;
}

.cart-table tfoot td {
    text-align: right;
    font-weight: 700;
    color: green;

}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%;
    gap:10px
}

.tos-font{
    font-family: "Inter" !important;
    letter-spacing: .75px !important;
    font-size:10px !important;
    font-weight: 400;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.iwt-submit-offer{
    display:flex !important;
    justify-content:space-evenly !important;
    align-items:center !important;
    text-align: center !important;
    bottom:0;
    width:50% !important;
    height:auto !important;
    font-size: 16px !important;
    color: #fff !important;
    background-color:#0442bf !important;
    border: solid 1px #fff !important;
    border-radius: 10px !important;
    transition: all ease .5s;
    padding:14px 20px 14px 20px !important;
    }
    
    .iwt-submit-offer:hover {
        background-color: #FFFFFF !important;
        color: #0442bf !important;
        border-color: #0442bf !important;
        border: solid 2px #0442bf !important;
    }
    
    .iwt-logo-icon{
      width: 35px !important;
      height: 35px !important;
      vertical-align: text-center;
    }

    .iwt-remove-item{
        color: #a40404 !important;
        font-size: 1em !important;
        font-weight: bold !important;
        cursor: pointer !important;
        text-align: center !important
    }